
.transactButton {
    align-items: center;
    appearance: none;
    background-clip: padding-box;
    background-color: initial;
    background-image: none;
    border-style: none;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    flex-direction: row;
    flex-shrink: 0;
    font-family: Eina01,sans-serif;
    font-size: 11px;
    font-weight: 800;
    justify-content: center;
    line-height: 4px;
    margin: 0;
    min-height: 4px;
    outline: none;
    overflow: visible;
    padding: 19px 26px;
    pointer-events: auto;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    width: auto;
    word-break: keep-all;
    z-index: 0;
  }
  
  @media (min-width: 768px) {
    .transactButton {
      padding: 19px 32px;
    }
  }
  
  .transactButton:before,
  .transactButton:after {
    border-radius: 80px;
  }
  
  .transactButton:before {
    background-image: var(--base-color);
    content: "";
    display: inline-block;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -2;
  }
  
  .transactButton:after {
    background-color: initial;
    background-image: var(--after-color);
    bottom: 4px;
    content: "";
    display: inline-block;
    left: 4px;
    overflow: hidden;
    position: absolute;
    right: 4px;
    top: 4px;
    transition: all 100ms ease-out;
    z-index: -1;
  }
  
  .transactButton:hover:not(:disabled):before {
    background: var(--hover-color)
  }
  
  .transactButton:hover:not(:disabled):after {
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    transition-timing-function: ease-in;
    opacity: 0;
  }
  
  .transactButton:active:not(:disabled) {
    color: #ccc;
  }
  
  .transactButton:active:not(:disabled):before {
    background-image: var(--hover-color);
  }
  
  .transactButton:active:not(:disabled):after {
    background-image: var(--after-color);
    bottom: 4px;
    left: 4px;
    right: 4px;
    top: 4px;
  }
  
  .transactButton:disabled {
    cursor: default;
    opacity: .24;
  }
  
  .failText {
      font-family: 'Courier New', Courier, monospace;
  }
  